@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Roboto&family=Ubuntu&display=swap");

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Arial", sans-serif;
	background-color: rgb(20, 23, 28);
	color: #fff;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	width: 100vw;
}

.main-logocrime {
	height: 43vw;
	width: 43vw;
}

#menu-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 4;
	background-color: #1498cc;
	width: 30px;
	height: 30px;
	font-size: 20px;
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	padding: 12px;
	transition: all 0.3s;
}

#menu-button:active {
	scale: 0.9;
	background-color: #106c91;
}

.discord-icon {
	cursor: pointer;
	display: flex;
	font-size: 30px;
	color: #5865f2;
	transition: all 0.3s;
}

.discord-icon:hover {
	color: #fff;
}

.nav-container {
	background-color: #333030;
	transform: translateX(100vw);
	height: 100vh;
	width: 100vw;
	padding: 30px;
	padding-left: 20px;
	z-index: 3;
	position: fixed;
	display: none;
	transition: all 0.3s;
}

.nav-container ul li a {
	font-size: 17px !important;
	padding: 5px;
	padding-left: 10px;
	letter-spacing: 1px;
}

.nav-container ul li {
	margin-bottom: 15px;
}

header {
	color: white;
	text-align: center;
	padding: 1em 0;
	width: 100%;
	z-index: 0;
}

.active {
	color: #1498cc !important;
	border-left: 2px solid #1498cc;
}

a {
	color: #1498cc;
	transition: all 0.3s;
}

a:hover {
	color: #106c91;
}

h1 {
	font-size: 40px;
	margin: 20px 0;
}

#container {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	min-width: 300px;
	max-width: 1000px;
}

aside {
	position: sticky;
	top: 2vh;
	height: 96vh;
	min-width: 220px;
}

main {
	max-width: 800px;
	background-color: #3333337a;
	backdrop-filter: blur(4px);
	padding: 0 20px;
	border-radius: 4px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	margin-bottom: 30px;
}

.aside-elements {
	font-weight: 600;
	font-size: 17px;
	text-decoration: none;
	color: #ffffff;
	transition: all 0.3s;
	padding-left: 10px;
}

.aside-elements:hover {
	color: #666666;
}

h3 {
	color: #1498cc;
	margin: 20px 0;
	font-size: 23px;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

.logocrime,
.logocrime2 {
	position: fixed;
	filter: grayscale(0.5);
	left: 28vw;
	top: 60vh;
	width: 30vh;
	opacity: 0.25;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	animation: rotate 25s linear infinite;
}

.logocrime2 {
	width: 20vh;
	top: 30vh;
	left: 68vw;
}

.menu-bar {
	transform: translateX(27vw);
}

@media only screen and (max-width: 1130px) {
	.discord-icon {
		font-size: 20px;
	}

	#menu-button {
		display: flex;
	}

	.nav-container {
		display: flex;
	}

	header {
		padding: 10px 0 0 0;
	}

	.logocrime,
	.logocrime2 {
		display: none;
	}

	main {
		background-color: transparent;
		box-shadow: none;
		backdrop-filter: none;
		margin-bottom: 10px;
	}

	header h1 {
		font-size: 22px;
	}

	#container {
		padding: 10px;
	}

	aside {
		display: none;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
